{% extends "_base.html" %}
{% block title %}About{% endblock title %}
{% block content %}
<h1>This is our About page.</h1>
{% if user.is_authenticated %}
<p>Hi {{ user.email }}!</p>
{% endif %}
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur asperiores ex qui obcaecati eum, necessitatibus molestiae ducimus labore reprehenderit veritatis soluta. Repudiandae rem voluptatum deserunt a sapiente dolore deleniti est.</p>
Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod, dolorum. Dolor illum minima ut. Necessitatibus voluptate, velit corporis delectus optio commodi quisquam voluptatem, nobis saepe magnam quod enim praesentium modi!

{% endblock content %}