{% extends "_base.html" %}
{% load static %}
{% block title %}Home{% endblock title %}
{% block content %}
<h1>This is our home page.</h1>


{% if user.is_authenticated %}
<p>Hi {{ user.email }}!</p>
{% endif %}



{% if 'books.can_edit_book' in permissions %}
    <h1>hi there</h1>
{% endif %}


{% if user.is_authenticated and perms.books.can_edit_book %} 
    <h1>You have permission to edit books</h1>
{% endif %}
{% if user.is_authenticated and perms.books.special_status %} 
    <h1>You have permission special_status read all book</h1>
{% endif %}
{% if user.is_authenticated and perms.books.can_delete_book %} 
    <h1>You have permission to can_delete_book</h1>
{% endif %}
{% if user.is_authenticated and perms.books.can_view_book %} 
    <h1>You have permission to can_view_book</h1>
{% endif %}

{% endblock content %}