{% extends "_base.html" %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters static%}

{% block title %}{{ book.title }}{% endblock title %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-6">
        {% if book.cover %}
        <img class="bookcover" src="{{ book.cover.url}}" alt="{{ book.title }}" style="width: 300px; height: 300px;">
        {% endif %}
        <h2><a href="">{{ book.title }}</a></h2>
        <p>Author: {{ book.author }}</p>
        <p>
          <a href="#" class="btn btn-primary disabled" tabindex="-1" aria-disabled="true" role="button" data-bs-toggle="button">Price:RS:{{ book.price }}</a>
          <a href="#" class="btn btn-primary disabled" tabindex="-1" aria-disabled="true" role="button" data-bs-toggle="button">RS:{{ book.price }}</a>
          <a href="{% url 'request_permission' book.id %}">Request Permission</a>
        </p>

      </div>
      <div class="col-6">
        <h3>Reviews</h3>
      <ul>
        {% for review in book.reviews.all %}
        <li>{{ review.review }} ({{ review.author }})</li>
        {% endfor %}
      </ul>
      {% include 'books/review_create_form.html' %}
      </div>
    </div>
  </div>

{% endblock content %}