{% extends '_base.html' %}
{% load static %}
{% block title %}Books{% endblock title %}

{% block content %}
  <div class="row row-cols-1 row-cols-md-3 g-4">
    {% for book in book_list %}
    
    <div class="col">
      <div class="card h-100">
        <a href="{{ book.get_absolute_url }}">
          {% if book.cover %}
          <img src="{{ book.cover.url }}" class="card-img-top" alt="{{ book.title }}" style="width: 100%; height: 200px;">
          {% else %}
          <img src="..." class="card-img-top" alt="...">
          {% endif %}
        </a>
        <div class="card-body">
          <h3>{{ book.title }}</h3>
          <p>Author: {{ book.author }}</p>
          <p><a href="book.get_absolute_url" class="btn btn-secondary">Price: $ {{ book.price }}</a>
          <a href="{% url 'request_permission' book.id %}" class="btn btn-secondary">Request Permission</a></p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
{% endblock content %}
