{% extends '_base.html' %}
{% block content %}
  <h1>Requested Books</h1>
  <table>
    <thead>
      <tr>
        <th>Book Name</th>
        <th>Status</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      {% for request in pending_requests %}
      <tr>
        <td>{{ request.book.title }}</td>
        <td>
          {% if request.is_approved %}
            Approved
          {% elif request.is_approved == False %}
            Denied..
          {% else %}
            Pending..
          {% endif %}
        </td>
        <td>
          {% if request.is_approved %}
            <a href="#">Read</a>
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
